<%- include("../partials/header") %>
<div class="container">

  <header>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Campgrounds!!</h1>
        <p>We have Some Hand-picked Campgrounds all Over the World</p>
        <p>
          <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
        </p>
      </div>
    </div>
  </header>

  <section>
    <div class="container-fluid">
      <div class="row text-center" style="display: flex;flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
        <div class=" col-md-4 col-sm-8 mb-4">
          <div class="img-thumbnail">
            <img src="<%= campground.image %>" class="mb-1" /><br>
            <caption class="mb-1"> <strong><%= campground.name %></strong> </caption>
            <div>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary mb-1">More info</a>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </section>
</div>


</div>
<%- include("../partials/footer") %>